.hero-unit {
  padding: 60px 60px 20px;
}

.span3.logo {
  text-align: center;
  background-color: #eee;
  border-radius: 6px 6px 6px 6px;
  margin: 0 0 20px 20px;
  padding: 20px 0;
}

  .span3.logo .logodate {
    font-size: 0.8em;
    margin-bottom: -10px;
  }

  .span3.logo.unpublished {
    background-color: #f08080;
  }

.detail .page-header {
  margin-top: 0;
  margin-bottom: 15px;
}

.detail h2 {
  margin: 0 0px 15px;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.detail p {
  margin-bottom: 20px;
}

.detail section {
  margin-bottom: 30px;
}

@media (max-width: 979px) {
  .hero-unit {
    padding: 20px;
  }

  .hero-unit p {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .span3.logo {
    margin-left: 0;
  }
}
