---
layout: default
---

<section>
  <div class="page-header">
    <h1>Die Dias <small>Für mehr Infos aufs Logo klicken</small></h1>
  </div>

  <div class="row">
    {% for dia in site.posts %}
      <a class="span3 logo" href="{{dia.url}}" title="{{dia.title}}">
        <div class="logo_context" id="{{dia.title | downcase | slugify}}">
          <img alt="{{dia.title}}" src="/images/{{dia.file}}">
          {% if dia.additionalHtml %}{{ dia.additionalHtml }}{% endif %}
        </div>
        <h4 class="logotitle">{{dia.title}}</h4>
        <p class="logodate">{{dia.timespan}}</p>
      </a>

      {% cycle "", "", "", '</div><div class="row">' %}
    {% endfor %}
  </div>
</section>
