<!DOCTYPE html>
<html>
<head>
  <title>
    {% if page.title %}
      Geraspora Dia: {{page.title}}
    {% else %}
      Geraspora Dias
    {% endif %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">dias.geraspora.de</a>
        <ul class="nav">
          <li><a href="/">Alle Dias</a></li>
          <li><a href="http://pages.geraspora.de/legal.html" target="_blank">Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit">
      <p>
        Die Geraspora* Dias sind die wechselnden Motive im Header von Geraspora*. Auf dieser
        Seite findet sich ein Archiv und zusätzliche Informationen zu den Motiven! :)
      </p>
    </div>
