common: &common
  adapter: mysql2
  host: "localhost"
  port: 3306
  username: "root"
  password: ""
  charset: utf8
  collation: utf8_bin

development:
  <<: *common
  database: dias_development

production:
  <<: *common
  database: dias_production

test:
  <<: *common
  database: dias_test
