@import "bootstrap";

.hero-unit {
  padding: 60px 60px 20px;
}

.span3.logo {
  text-align: center;
  background-color: #eee;
  border-radius: 6px 6px 6px 6px;
  margin: 0 0 20px 20px;
  padding: 20px 0;

  .logodate {
    font-size: 0.8em;
    margin-bottom: -10px;
  }
}

.detail {
  .page-header {
    margin-top: 0;
    margin-bottom: 15px;
  }

  h4 {
    margin: 0;
  }

  section {
    margin-bottom: 30px;
  }
}
