{% include header.html %}

<section id="donators">
  <div class="page-header">
    <h1>{{page.title}} <small>{{page.timespan}}</small></h1>
  </div>

  <div class="row detail">
    <div class="span3 logo">
      <div class="logo_context" id="{{page.title | downcase | slugify}}">
        <img alt="{{page.title}}" src="/images/{{page.file}}">
        {% if page.additionalHtml %}{{ page.additionalHtml }}{% endif %}
      </div>
    </div>


    <div class="span9">
      <section>{{content}}</section>
    </div>
  </div>

  <a href="/" class="btn">« Zurück</a>
</section>

{% include footer.html %}
